/* #region */
.wrapper {
  width: 800px;
  /* min-height: 600px; */
  padding: 40px;
  margin: 0 auto;
  margin-top: 60px;

  list-style-type: none;
  border-radius: 10px;
  background-color: lightgreen;
  outline: 5px dashed red;
  outline-offset: -40px;
}

.item {
  width: 150px;
  height: 150px;
  font-size: 64px;
  line-height: 150px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background-color: slateblue;
  border: 5px solid rgb(45, 35, 125);
}
/* #endregion */

/*=====================================*\
  FLEX BOX
\*=====================================*/
.wrapper {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
  /* align-content: stretch; */
}
.item {
  width: calc((100% - 40px * 3) / 4);
  /* flex-basis: 100px; */
  /* min-width: 200px;
  max-width: 120px; */
  /* Default properties */
  /* flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1; */
}
