.hide {
  display: none;
}

/* #region Base styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
/* #endregion */

/* #region Common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Mobile (base) styles */
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet styles */
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
/* Desktop styles */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }
}
.ingridients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .ingridients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 60px 0;
  }
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .ingridients-title,
  .made-title,
  .products-title,
  .bestsellers-title,
  .reviews-title {
    max-width: 412px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.accent {
  color: #fd9222;
}
.logo {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
@media only screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
.logo-accent {
  font-style: italic;
}
.logo-img {
  margin-left: 4px;
}
@media only screen and (min-width: 1200px) {
  .logo-img {
    width: 24px;
    height: 24px;
  }
}

.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  transition: 300ms ease-in;
  transition-property: border-color;
}
.socials-link:hover,
.socials-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: #111111;
  transition: 300ms ease-in;
  transition-property: fill;
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #fd9222;
}

.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 11px 27px;

  font-size: 14px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 100px;

  transition: 300ms ease-in;
  transition-property: color, background-color, border-color;
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 14px 40px;
  }
}
.btn-accent {
  color: #fff;
  background: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background: #fcf1e0;
}
.btn-light {
  color: #fff;
  background: transparent;
  border-color: white;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
  background: transparent;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #ffffff;
  background: #fd9222;
}
.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: #fd9222;
}
.scroll-to-top svg {
  fill: currentColor;
}
/* #endregion */

/* #region Header */
.header {
  background-color: #fff;
}
.header .container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header .container {
    gap: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .header .container {
    gap: 90px;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.header-logo {
  padding: 23px 0;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav-list {
    gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}
.header-nav-item {
}
/* Normal state */
.header-nav-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: 300ms ease-in;
  transition-property: color;
}
/* Active state */
.header-nav-link:hover,
.header-nav-link:focus {
  color: #fd9222;
}
.header-nav-link.active {
  color: #fd9222;
}
.header-nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: #fd9222;
  border-radius: 2px;
}
@media only screen and (max-width: 767px) {
  .header-socials {
    display: none;
  }
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
}
@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
/* #endregion */

/* #region Hero */
.hero {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    margin-bottom: 40px;
  }
}
.hero .container {
  padding: 20px;
  padding-top: 395px;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x.jpg');
}
@media only screen and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_mob@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero .container {
    padding: 40px;
    padding-top: 671px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@1x.jpg');

    @media (min-resolution: 192dpi) {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/hero/hero-bg_tab@2x.jpg');
    }
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@2x.jpg');
  }
}
@media only screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 381px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@1x.jpg');
  }
}
@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@2x.jpg');
  }
}
.hero-title {
  max-width: 484px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
  }
}
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}
.hero-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.hero-item {
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  transition: 300ms ease-in;
  transition-property: color;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: #fd9222;
  background-color: #fff;
  border-radius: 50%;
  transition: 300ms ease-in;
  transition-property: color, background-color;
}
.hero-link:hover .hero-link-icon,
.hero-link:focus .hero-link-icon {
  color: #fff;
  background-color: #fd9222;
}
.hero-link-icon svg {
  fill: currentColor;
}
/* #endregion */

/* #region Benefits */
.benefits {
  padding: 20px 0;
  background: #1e1823;
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-list {
    justify-content: center;
  }
}
.benefits-item {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    width: 308px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);

    display: block;
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .benefits-item:nth-child(3n)::after {
    display: none;
  }
}
.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-caption {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.01em;
  color: #fff;
}
.benefits-desc {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 1200px) {
  .benefits-desc {
    line-height: 1.29;
  }
}
/* #endregion */

/* #region Ingridients */
.ingridients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingridients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients {
    padding-top: 120px;
  }
}
.ingridients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .ingridients-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
.ingridients-item {
  position: relative;
  padding: 28px;
  border-radius: 15px;
  border: 1px solid transparent;
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .ingridients-item {
    padding-top: 32px;
  }
  .ingridients-item:nth-last-child(-n + 3) {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .ingridients-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients-item {
    padding: 28px 23px;
    width: calc((100% - 32px * 3) / 4);
  }
}
.ingridients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingridients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingridients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: none;
  stroke: #fff;
}
.ingridients-item:nth-child(2n) .ingridients-icon {
  stroke: #fd9222;
}
.ingridients-ill {
  margin: 0 auto;
}
.ingridients-caption {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .ingridients-caption {
    margin-top: 36px;
  }
}
/* #endregion */

/* #region Made */
.made {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  flex-shrink: 0;
}
.made-pic {
}
.made-right-side {
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
.made-subtitle {
  width: 350px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:last-child {
  margin-bottom: 0;
}
.made-item::before {
  content: '';
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-top: 8px;

  border: 1px solid #eceded;
  background-color: #4c4c4c;
  border-radius: 50%;
}
/* #endregion */

/* #region Products */
.products {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}
.products-item {
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  text-align: center;
}
.products-ill {
}
.products-heading {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  /* text-align: center; */
}
.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  /* text-align: center; */
}
.products-price {
  padding: 8px 20px;
  font-weight: 600;
  line-height: 1.21;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
/* #endregion */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
  display: flex;
  justify-content: space-between;
}
.bestsellers-item {
  background: #fff;
}
.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
}
.bestsellers-img {
  border-radius: 15px 15px 0px 0px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: 500ms ease-in;
  transition-property: transform;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fafafa;

  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-caption {
  padding: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;

  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background: #fff;
}
/* #endregion */

/* #region Reviews */
.reviews {
}
.reviews-title {
  margin-bottom: 91px;
}
.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  position: relative;
  width: calc((100% - 2 * 28px) / 3);
  padding: 24px;
  padding-top: 56px;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/* #endregion */

/* #region Footer */
.footer {
  padding: 50px 0;
  background: #1e1823;
}
.footer-top {
  display: flex;
  padding-bottom: 50px;
}
.footer-slogan {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-wrapper {
  margin-left: auto;
}
.footer-socials .socials-link {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-socials .socials-icon {
  fill: #fff;
}
.footer-address {
  margin-left: 50px;
}
.footer-caption {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fff;
}
.footer-contatcs {
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;

  transition: 300ms ease-in;
  transition-property: color;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #fd9222;
}
.footer-bottom {
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  display: block;
  padding: 18px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;

  transition: 300ms ease-in;
  transition-property: color;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
/* #endregion */

/* #region Modal window */
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: 500ms;
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 517px;
  min-height: 794px;
  padding: 40px;
  border-radius: 15px;
  background: #fafafa;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  color: #111111;
  background-color: transparent;
  border: none;
  transition: color 300ms ease-in;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-caption {
  width: 298px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
/* Form */
.modal-form {
}
.modal-wrapper {
  margin-bottom: 18px;
}
.modal-label {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-field {
  position: relative;
}
.modal-field-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  color: #404040;
  background: transparent;
  outline: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  transition: border-color 300ms ease-in;
}
.modal-field-input:focus {
  border-color: #fd9222;
}
.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  transition: stroke 300ms ease-in;
  pointer-events: none;
}
.modal-field-input:focus + .modal-field-icon {
  stroke: #fd9222;
}
.modal-valid-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.error,
.success {
  opacity: 0;
  transform: scale(0.3);
  transform-origin: center;
  transition: 200ms ease-in;
  transition-property: opacity, transform;
}

.modal-field-input:not(:placeholder-shown):valid:required
  ~ .modal-valid-icon
  > .success {
  opacity: 1;
  transform: scale(1);
}
.modal-field-input:not(:placeholder-shown):invalid:required
  ~ .modal-valid-icon
  > .error {
  opacity: 1;
  transform: scale(1);
}

.error-text {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%) scale(0.3);
  width: 100%;
  font-size: 12px;
  color: #e51f1f;
  text-align: center;
  opacity: 0;
  transition: 200ms ease-in;
  transition-property: transform, opacity;
}
.modal-field-input:not(:placeholder-shown):invalid:required ~ .error-text {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.modal-message {
  width: 100%;
  height: 137px;
  /* min-height: 137px;
  max-height: 250px; */
  padding: 22px 24px;
  resize: none;
  /* resize: vertical; */
  background: transparent;
  outline: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  font-size: 18px;
  letter-spacing: -0.02em;
  color: #404040;
  transition: border-color 300ms ease-in;
}
.modal-message:focus {
  border-color: #fd9222;
}
.modal-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.agreement {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
  transition: 300ms ease-in;
  transition-property: background-color, border-color, box-shadow;
}
input[type='checkbox']:checked + .agreement-checkbox {
  background-color: #fd9222;
  border-color: transparent;
}
input[type='checkbox']:focus-visible + .agreement-checkbox {
  box-shadow: 0 0 0 4px rgba(253, 146, 34, 0.25);
}
.agreement-checkbox-icon {
  fill: #fff;
  opacity: 0;
  transition: 300ms ease-in;
  transition-property: opacity, transform;
}
input[type='checkbox']:checked
  + .agreement-checkbox
  > .agreement-checkbox-icon {
  opacity: 1;
  transform: rotate(360deg);
}
.agreement-checkbox-link {
  color: #fd9222;
  margin-left: 4px;
}
/* #endregion */

/* #region Mobile menu*/
.mobile-menu {
  position: fixed;
  inset: 0;
  background: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 1300ms ease-in;
  transition-property: opacity, visibility;
  transition-delay: 500ms;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
  transition-timing-function: ease-out;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  padding: 20px;
  padding-top: 136px;
  background: #1e1823;
  transform: translateX(100%);
  transition: 300ms ease-in;
  transition-property: transform;
  transition-delay: 0ms;
}
.mobile-menu.is-open .mobile-menu-wrapper {
  transform: translateX(0);
  transition-timing-function: ease-out;
  transition-delay: 500ms;
}
.mobile-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
}
.mobile-menu-icon {
  stroke: #fff;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: 300ms ease-in;
  transition-property: color;
}
@media not (hover: hover) {
  .mobile-menu-link:active {
    color: #fd9222;
  }
}
.mobile-menu-socials .socials-link {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu-socials .socials-icon {
  fill: #fff;
}
/* #endregion Mobile menu*/
